.Footer {
  background-color: #1c2936;
  height: 80px;
  overflow: hidden;
  padding: 0;
  line-height: 80px;
  text-align: center;
  color: #ffcbf2;
  position: relative;
}

.member {
  margin: 0;
  height: 100%;
  line-height: 80px;
  text-align: center;
  color: #c1d3fe;
}
