.Content1 {
  width: auto;
  height: 100%;
  position: relative;
  text-align: center;
  border-color: #666;
  display: grid;
  grid-template-rows: auto 5fr;
  padding-top: 6vh; /* 将60px转换为相对单位 */
  padding-bottom: 0;
  overflow: hidden;
}

.Content1 .TextWrapper {
  align-self: center;
  width: auto;
  margin: 0;
  padding-top: 1.25vh; /* 将20px转换为相对单位 */
  padding-bottom: 0.9375vh; /* 将15px转换为相对单位 */
}

@media (max-width: 576px) {
  .Content1 .TextWrapper {
    padding-top: 0.625vh; /* 将10px转换为相对单位 */
    padding-bottom: 0.625vh; /* 将10px转换为相对单位 */
  }
}

@media (max-width: 480px) {
  .LottieWrapper {
    width: 30vw; /* 将宽度从15.625vw变为30vw，或者您可以使用其他适当的值 */
  }
  .Content1 .StepWrapper {
    labelplacement: "horizontal";
    direction: "horizontal";
    size: "small";
    margin: 0 auto; /* 将20px转换为相对单位 */
  }
  .Content1 .LottieWrapper {
    width: 50vw; /* 将宽度从18.75vw变为50vw，或者您可以使用其他适当的值 */
  }
}

@media (max-width: 360px) {
  .Content1 .StepWrapper {
    labelplacement: "vertical";
  }
}

@media (max-width: 320px) {
  .Content1 .StepWrapper {
    size: "small";
  }
}

@media (max-width: 375px) {
  .Content1 .TextWrapper {
    font-size: 0.875rem; /* 将14px转换为相对单位 */
  }
}
