.Content2 {
  background-color: #c8c5f7;
  width: 100%;
  min-height: 100%;
  position: relative;
  text-align: center;
  border-color: #666;
  display: grid; /* 设置grid布局 */
  grid-template-rows: auto 1fr; /* 第一个子元素占据自适应高度，第二个子元素占据剩余高度 */
  padding-top: 60px;
  padding-bottom: 0px;
  overflow: hidden;
}

.Content2 .TextWrapper {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 15px;
}



.Content2 .LottieWrapper {
  z-index: 1;
  margin-right: auto;
  margin-left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
}
.Content2 .StepWrapper {
  z-index: 99;
  margin-right: 20px;
  position: absolute;
  bottom: 10px;
  right: 0;
}

@media (max-width: 768px) {
  .LottieWrapper {
    width: 250px;
  }
}

/* .ant-steps-item-title{
  color: #eeeaf5 !important;
} */